<div class="container">
  <ul class="nav nav-pills">
    <li role="presentation">{{#link-to 'index'}}Home{{/link-to}}</li>
  </ul>

  <h1 class="jumbotron" id="title">Message Board</h1>
  
  {{outlet}}
</div>
