{{#each model as |question|}}
  <div class="question">
    <h3>
      {{#link-to 'question' question.id}}{{question.question}}{{/link-to}}
    </h3>
    <p>asked by {{question.author}}</p>
  </div>
{{/each}}

{{new-question saveQuestion="saveQuestion"}}
