{{edit-question updateQuestion="updateQuestion" model=model}}

<div class="answers">
  <h3>Answers</h3>
  {{#each model.answers as |answer|}}
    <div class="answer">
      <p>{{answer.author}} says:</p>
      <h4>{{answer.answer}}</h4>
    </div>
  {{/each}}

  {{new-answer saveAnswer="saveAnswer" question=model}}
</div>
